<ion-header>
  <ion-navbar color="primary">
    <ion-title>XXXXXX</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<h3>{{lista.nombre}}</h3>

<ion-card>

  <ion-card-header>
    <ion-item>
   <ion-label floating>Nombre de la lista</ion-label>
   <ion-input [(ngModel)]="lista.nombre" type="text"></ion-input>
 </ion-item>
  </ion-card-header>

  <ion-card-content>
    <!-- Add card content here! -->

    <ion-list>
      <ion-item *ngFor="let item of lista.Items" (click)="actualizar(item)">
        <ion-icon item-left *ngIf="item.completo" ios="ios-checkbox" md="md-checkbox"></ion-icon>
         <ion-icon item-left *ngIf="!item.completo" ios="ios-square-outline" md="md-square-outline"></ion-icon>
         <h2 [class.tachado]="item.completo" >{{item.nombre}}</h2>
      </ion-item>
    </ion-list>
  </ion-card-content>

</ion-card>
<br><br>
<button type="button" (click)=borrarItem() ion-button class="button-block" color="danger">Borrar Lista</button>


</ion-content>
